@use "../utilities" as *;
/* -----------------------------------------------
Start of Hero
--------------------------------------------------
*/
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: auto;
  padding-top: 180px;
  margin: 0 auto;

  @media screen and (max-width: 970px) {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 180px;
  }
}

.hero-info-container {
  width: 100%;
  min-height: 355px;

  @media screen and (max-width: 970px) {
    order: 2;
    min-height: 315px;
  }
}

.hero-click-more-container {
  display: flex;
  border-radius: 5px;
  background-color: rgba($white, 0.4);
  padding: 10px;
  margin-left: 5px;
}

.hero-img-container {
  border-radius: 50%;
  min-width: 380px;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  background-color: $pink-pale;
  border: 1px solid rgba($white, 0.6);

  @media screen and (max-width: 1020px) {
    min-width: 280px;
  }

  @media screen and (max-width: 970px) {
    order: 1;
    max-width: 350px;
  }
}

/* Slide From Top Animation */
.hero-info {
  max-width: 470px;
  opacity: 0;
  transform: translateY(-100%);
  animation: fadeInSimple $slide-from-top-duration ease-in-out
    $slide-from-top-delay forwards;

  @media screen and (max-width: 970px) {
    max-width: 550px;
    margin: 0 auto;
  }
}

.hero-img-container {
  opacity: 0;
  animation: fadeInSimple $slide-from-top-duration ease-in-out
    $slide-from-top-delay forwards;
}

/* End of Hero 
*/
