@use "../utilities" as *;
/* -----------------------------------------------
Start of Typography & Colors
--------------------------------------------------
*/
/* clamp calculated for min viewport 320px & max viewport 1500px */
html {
  font-family: $ff-poppins;
  /* 62.5% of font-size = 10px if browser font is set to 16px, which makes 1rem = 10px */
  font-size: 62.5%;
  line-height: 1.4;
  font-weight: normal;
  scroll-behavior: smooth;
  color: $black;
}

body {
  font-size: 1.6rem;
}

.italic {
  font-style: italic;
  font-weight: 200 !important;
}

.bold {
  font-weight: 700;
}

.text-code {
  display: block;
  font-family: $ff-la-belle-aurore;
  font-size: 24px;
  color: rgba($white, 0.4);
  margin-left: 16px;

  @media screen and (max-width: 500px) {
    margin-left: 5px;
  }
}

//h1
.title {
  position: relative;
  text-align: center;
  font-weight: 200;
  font-size: clamp(5rem, 4.5932rem + 1.2712vw, 6.5rem);
  color: $white;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background-color: $purple-pale;

    @media screen and (max-width: 500px) {
      width: 60px;
    }
  }

  &::before {
    right: -110px;

    @media screen and (max-width: 500px) {
      right: -70px;
    }
  }

  &::after {
    left: -110px;

    @media screen and (max-width: 500px) {
      left: -70px;
    }
  }
}

.hero-info h1 {
  font-weight: 400;
  font-size: clamp(4.5rem, 3.6864rem + 2.5424vw, 7.5rem);
  line-height: 1;
  margin-bottom: 30px;
}

//h2
.about-inner-title {
  text-transform: capitalize;
  text-align: center;
  font-family: $ff-ephesis;
  font-weight: 400;
  font-size: clamp(3.5rem, 3.2288rem + 0.8475vw, 4.5rem);
  line-height: 1.2;
  color: $white;
  margin-top: 60px;

  @media screen and (max-width: 650px) {
    margin-top: 0px;
    line-height: 1;
  }
}

h3 {
  font-size: clamp(1.6rem, 1.5458rem + 0.1695vw, 1.8rem);
  font-weight: 400;
  color: rgba($white, 0.9);
  margin-bottom: 10px;
}

//h3
.hero-click-more-text {
  font-family: $ff-kodchasan;
  font-weight: 300;
  font-size: clamp(2.2rem, 2.1458rem + 0.1695vw, 2.4rem);
  color: $white;
  font-style: italic;
  margin-left: 15px;
  margin-bottom: 0;
}

h4 {
  font-size: clamp(1.5rem, 1.4729rem + 0.0847vw, 1.6rem);
  margin-bottom: 10px;
}

p {
  font-size: clamp(1.6rem, 1.5458rem + 0.1695vw, 1.8rem);
  font-weight: 300;
  margin: 0 40px;

  @media screen and (max-width: 500px) {
    margin: 0 20px;
  }
}

.hero-info p {
  font-family: $ff-julius;
  font-weight: 600;
  font-size: clamp(2.2rem, 2.1458rem + 0.1695vw, 2.4rem);
  padding-left: 3px;
  margin: 0 0 10px 0;
}

.timeline-item-date p {
  margin: 0;
}

.btn-project-tech,
.btn-project-tech-list li {
  font-size: clamp(1.6rem, 1.5458rem + 0.1695vw, 1.8rem);
  font-weight: 300;
  margin: 0;
}

li {
  font-size: clamp(1.2rem, 1.0915rem + 0.339vw, 1.6rem);
}

.project-card li {
  line-height: 1.2;
}

.header {
  color: $white;

  //a
  .nav-link {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: inherit;
  }
}

.about-inner-info {
  /* Skills, Education & Work */
  &.skills,
  &.work {
    color: rgba($white, 0.9);
  }

  a {
    color: rgba($white, 0.6);
    border-bottom: 1px solid rgba($white, 0.6);

    &:hover,
    &:focus {
      color: $white;
      border-color: $white;
    }
  }
}

.timeline-item-date {
  text-align: right;
  font-size: 1.6rem !important;
  font-weight: 200 !important;
  color: rgba($white, 0.9);
  margin-top: 12px;
  min-width: 180px;

  //span in h3
  &.mobile {
    font-size: 1.6rem;
  }
}

.footer-text {
  font-family: $ff-poppins;
  font-size: clamp(1.4rem, 1.3458rem + 0.1695vw, 1.6rem);
  color: rgba($white, 0.4);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* End of Typography & Colors
*/
