/* -----------------------------------------------
Start of Navigation
--------------------------------------------------
*/
/* End of Navigation 
*/
/* TABLE OF CONTENT--------------------------
    Reset
    Normalizer
    Global
    Typography & Colors
    Buttons

    Navigation
    Social Icons Pannel
    Hero
    About
*/
/* -----------------------------------------------
Start of Reset
--------------------------------------------------
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  height: auto;
  display: block;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End of Reset 
*/
/* -----------------------------------------------
Start of Normalizer
--------------------------------------------------
*/
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
    ========================================================================= */
/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/* Text-level semantics
    ========================================================================= */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* End of Normalizer 
*/
/*
hero title 


*/
/* -----------------------------------------------
Start of Global
--------------------------------------------------
*/
/* Main padding */
html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body {
  background: linear-gradient(to right, #f15bb5, #9b5de5 70%, #00bbf9);
}

.fluid-spacer {
  width: 100%;
  height: 150px;
}
@media screen and (max-width: 970px) {
  .fluid-spacer {
    height: 80px;
  }
}
@media screen and (max-width: 500px) {
  .fluid-spacer {
    height: 60px;
  }
}

.header {
  padding-left: 80px;
  /* padding-right should equal the right property of .social-icons-pannel */
  padding-right: 80px;
}
@media screen and (max-width: 1210px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  max-width: 1550px;
  padding-left: 200px;
  padding-right: 200px;
}
@media screen and (max-width: 1210px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.reverse {
  flex-direction: row-reverse !important;
}
@media screen and (max-width: 650px) {
  .reverse {
    flex-direction: column-reverse !important;
  }
}

.info-list li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 7px;
}
.info-list li::before {
  content: "";
  position: absolute;
  top: 23%;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.project-list {
  opacity: 0;
}
.project-list li::before {
  background-color: #ffffff;
  border: 2px solid #b98ded;
}

/* End of Global 
*/
/* -----------------------------------------------
Start of Typography & Colors
--------------------------------------------------
*/
/* clamp calculated for min viewport 320px & max viewport 1500px */
html {
  font-family: "Poppins", sans-serif;
  /* 62.5% of font-size = 10px if browser font is set to 16px, which makes 1rem = 10px */
  font-size: 62.5%;
  line-height: 1.4;
  font-weight: normal;
  scroll-behavior: smooth;
  color: #000000;
}

body {
  font-size: 1.6rem;
}

.italic {
  font-style: italic;
  font-weight: 200 !important;
}

.text-code {
  display: block;
  font-family: "La Belle Aurore", cursive;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 16px;
}
@media screen and (max-width: 500px) {
  .text-code {
    margin-left: 5px;
  }
}

.title {
  position: relative;
  text-align: center;
  font-weight: 200;
  font-size: clamp(5rem, 4.5932rem + 1.2712vw, 6.5rem);
  color: #ffffff;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
}
.title::before, .title::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 500px) {
  .title::before, .title::after {
    width: 60px;
  }
}
.title::before {
  right: -110px;
}
@media screen and (max-width: 500px) {
  .title::before {
    right: -70px;
  }
}
.title::after {
  left: -110px;
}
@media screen and (max-width: 500px) {
  .title::after {
    left: -70px;
  }
}

.hero-info h1 {
  font-weight: 400;
  font-size: clamp(4.5rem, 3.6864rem + 2.5424vw, 7.5rem);
  line-height: 1;
  margin-bottom: 30px;
}

.about-inner-title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-size: clamp(3.5rem, 3.2288rem + 0.8475vw, 4.5rem);
  line-height: 1.2;
  color: #ffffff;
  margin-top: 60px;
}
@media screen and (max-width: 650px) {
  .about-inner-title {
    margin-top: 0px;
    line-height: 1;
  }
}

h3 {
  font-size: clamp(1.6rem, 1.5458rem + 0.1695vw, 1.8rem);
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}

.hero-click-more-text {
  font-family: "Kodchasan", sans-serif;
  font-weight: 300;
  font-size: clamp(2.2rem, 2.1458rem + 0.1695vw, 2.4rem);
  color: #ffffff;
  font-style: italic;
  margin-left: 15px;
  margin-bottom: 0;
}

h4 {
  font-size: clamp(1.5rem, 1.4729rem + 0.0847vw, 1.6rem);
  margin-bottom: 10px;
}

p {
  font-size: clamp(1.6rem, 1.5458rem + 0.1695vw, 1.8rem);
  font-weight: 300;
  margin: 0 40px;
}
@media screen and (max-width: 500px) {
  p {
    margin: 0 20px;
  }
}

.hero-info p {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-size: clamp(2.2rem, 2.1458rem + 0.1695vw, 2.4rem);
  padding-left: 3px;
  margin: 0 0 10px 0;
}

.timeline-item-date p {
  margin: 0;
}

.btn-project-tech,
.btn-project-tech-list li {
  font-size: clamp(1.6rem, 1.5458rem + 0.1695vw, 1.8rem);
  font-weight: 300;
  margin: 0;
}

li {
  font-size: clamp(1.2rem, 1.0915rem + 0.339vw, 1.6rem);
}

.project-card li {
  line-height: 1.2;
}

.header {
  color: #ffffff;
}
.header .nav-link {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: inherit;
}

.about-inner-info {
  /* Skills, Education & Work */
}
.about-inner-info.skills, .about-inner-info.work {
  color: rgba(255, 255, 255, 0.9);
}
.about-inner-info a {
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.about-inner-info a:hover, .about-inner-info a:focus {
  color: #ffffff;
  border-color: #ffffff;
}

.timeline-item-date {
  text-align: right;
  font-size: 1.6rem !important;
  font-weight: 200 !important;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 12px;
  min-width: 180px;
}
.timeline-item-date.mobile {
  font-size: 1.6rem;
}

.footer-text {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.4rem, 1.3458rem + 0.1695vw, 1.6rem);
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 60px;
}

/* End of Typography & Colors
*/
@keyframes fadeIn {
  75% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInSimple {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes logoLoadingText {
  100% {
    transform: scale(1);
  }
}
@keyframes logoLoadingLetter {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes logoLoadingFadeOut {
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes slideFromTop {
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideFromBottom {
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes glants {
  0% {
    opacity: 0.2;
    left: 10%;
  }
  20% {
    left: 30%;
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    left: 105%;
    opacity: 0;
  }
}
/* -----------------------------------------------
Start of Loading Logo Animation
--------------------------------------------------
*/
/* position the logo in the center of the screen*/
.logo-loading-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 1.showing the logo text*/
.logo-loading .webcodeby {
  transform: scale(0);
  transform-origin: center top;
  animation: logoLoadingText 0.5s linear forwards;
}

/* 2.showing each letter of the logo name one after another */
.logo-loading .first-letter,
.logo-loading .single-letter {
  opacity: 0;
  transform: scale(0.95);
  transform-origin: left;
}

.logo-loading .first-letter {
  animation: logoLoadingLetter 0.15s 0.7s linear forwards;
}

.logo-loading .single-letter {
  animation: logoLoadingLetter 0.15s calc(0.15s * var(--letter-order) + 0.7s) linear forwards;
}

/* 3.fading out the logo */
.logo-loading {
  opacity: 1;
  transform: scale(1);
  animation: logoLoadingFadeOut 0.8s 2.625s ease-out forwards;
}

/* End of Loading Logo Animation 
*/
/* -----------------------------------------------
Start of Buttons
--------------------------------------------------
*/
/* hero click more animated button */
.hero-click-more-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: none;
  outline: transparent;
  border-radius: 50%;
  transform: scale(1);
  animation: heroClickMoreBtn 1.5s ease infinite;
  transition: transform 0.2s ease, background-color 0.2s ease;
  padding: 5px;
  width: 45px;
  height: 45px;
}
.hero-click-more-btn img {
  width: 35px;
  height: 35px;
}
.hero-click-more-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0px 0px 7px white, 0px 0px 10px rgba(255, 255, 255, 0.3);
  border: 0.5px solid #ffffff;
  transform: scale(1);
  transform-origin: center;
  z-index: -1;
  transition: transform 0.4s ease-out, background-color 0.4s ease-out;
}
.hero-click-more-btn:hover {
  animation: none;
  transform: rotate(7deg);
  box-shadow: 0px 0px 10px white;
}
.hero-click-more-btn:hover::before, .hero-click-more-btn:focus::before {
  transform: scale(1.1);
}
.hero-click-more-btn:active::before {
  transform: scale(0);
  background-color: #ffffff;
}

@keyframes heroClickMoreBtn {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: rotate(-5deg);
  }
  100% {
    transform: scale(1);
  }
}
.btn-project,
.btn-project-tech-container {
  display: block;
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  height: 45px;
  padding: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 650px) {
  .btn-project,
.btn-project-tech-container {
    margin-top: 0px;
  }
}

.btn-project {
  cursor: pointer;
  position: relative;
  color: #ffffff;
  background-color: rgba(42, 8, 83, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 140px;
  overflow: hidden;
  transform: scale(1);
  transform-origin: left bottom;
  transition: transform 0.3s ease-out;
}
@media screen and (max-width: 500px) {
  .btn-project {
    width: 50%;
  }
}
.btn-project:hover {
  background-color: rgba(42, 8, 83, 0.3);
  border-color: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.06);
  transition: transform 0.3s ease-out;
}
.btn-project::before {
  content: "";
  display: block;
  position: absolute;
  height: 250%;
  top: -50%;
  transform: rotate(-45deg);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 25px #ffffff;
  width: 8px;
}
.btn-project:hover::before {
  animation: glants 2s 0s linear infinite forwards;
}

.btn-project-tech-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  color: #ffffff;
  background-color: #da9de2;
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 80%;
  z-index: 6;
  padding-left: 30px;
  transition: width 0.6s ease-out;
}
@media screen and (max-width: 500px) {
  .btn-project-tech-container {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .btn-project-tech-container {
    gap: 20px;
  }
}
.btn-project-tech-container .btn-project-tech-list {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 45px;
}
@media screen and (max-width: 370px) {
  .btn-project-tech-container .btn-project-tech-list {
    gap: 10px;
  }
}
.btn-project-tech-container .btn-project-tech-list li {
  position: relative;
  color: #ffffff;
}
@media screen and (min-width: 650px) {
  .btn-project-tech-container {
    bottom: 0;
    top: unset;
    right: 0;
    left: unset;
    flex-direction: row;
    gap: 20px;
    width: 140px;
    padding-left: 0px;
  }
  .btn-project-tech-container-reverse {
    right: unset;
    left: 0;
  }
  .btn-project-tech-container:hover {
    width: 450px;
    transition: width 0.6s ease-out;
  }
  .btn-project-tech-container .btn-project-tech {
    width: 140px;
    height: 100%;
    opacity: 1;
    margin-right: 38px;
    transition: opacity 0.3s 0.6s;
  }
  .btn-project-tech-container:hover > .btn-project-tech {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .btn-project-tech-container .btn-project-tech-list {
    opacity: 0;
  }
  .btn-project-tech-container:hover > .btn-project-tech-list {
    opacity: 1;
    transition: opacity 0.3s 0.6s;
  }
}

.btn-form-submit {
  width: 50%;
}

/* End of Buttons 
*/
/* -----------------------------------------------
Start of Navigation
--------------------------------------------------
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: transparent;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header.scrolled {
  background-color: rgba(155, 93, 229, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.header,
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container,
.nav-item {
  transform: scale(1);
  transition: transform 0.3s linear;
}
.logo-container:hover,
.nav-item:hover {
  transform: scale(1.07);
  transition: transform 0.3s linear;
}

/* logo & animation */
.logo svg,
.logo path {
  fill: #ffffff;
}

.logo {
  width: 160px;
}

.nav-item {
  margin-left: 40px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

@media screen and (max-width: 786px) {
  .hamburger-lines {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    z-index: 10;
    cursor: pointer;
    margin: 0 1rem;
  }
}
@media screen and (max-width: 786px) and (max-width: 500px) {
  .hamburger-lines {
    right: 20px;
  }
}
@media screen and (max-width: 786px) {
  .hamburger-line {
    width: 2.9rem;
    height: 0.24rem;
    background-color: #ffffff;
    margin: 0.5rem 0;
    border-radius: 0.6rem;
  }
}
@media screen and (max-width: 786px) {
  .main-nav {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #da9de2;
    clip-path: circle(100px at 90% -30%);
    -webkit-clip-path: circle(100px at 90% -30%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
}
@media screen and (max-width: 786px) {
  .main-nav.open {
    clip-path: circle(1000px at 90% -30%);
    -webkit-clip-path: circle(2000px at 90% -30%);
    pointer-events: all;
  }
}
@media screen and (max-width: 786px) {
  .main-nav li {
    margin: 2rem 0;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
  }
}
@media screen and (max-width: 786px) {
  .main-nav li.full-opacity {
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
  }
}
/* End of Navigation
*/
/* -----------------------------------------------
Start of Social Icons Pannel
--------------------------------------------------
*/
.social-icons-pannel {
  position: fixed;
  bottom: 0;
  /* should equal the main right padding of the screen */
  right: 80px;
}
@media screen and (max-width: 1210px) {
  .social-icons-pannel {
    right: 50px;
  }
}
@media screen and (max-width: 970px) {
  .social-icons-pannel {
    right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .social-icons-pannel {
    display: none;
  }
}

.social-icons-pannel-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-icons-pannel-menu svg {
  width: 35px;
  height: 35px;
}

.social-icons-pannel-menu svg,
.social-icons-pannel-menu svg path {
  fill: rgba(255, 255, 255, 0.4);
  transition: fill 0.2s ease, transform 0.1s ease;
}

.social-icons-pannel-menu::after {
  content: "";
  display: block;
  width: 1px;
  height: 110px;
  margin: 10px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.2s ease;
}

/* hover effects */
.social-icons-pannel-menu svg:hover,
.social-icons-pannel-menu svg:hover path {
  fill: white;
  transform: translateY(-1px);
}

.social-icons-pannel:hover .social-icons-pannel-menu::after {
  background-color: white;
}

/* slide from bottom animation */
/* End of Social Icons Pannel 
*/
/* -----------------------------------------------
Start of Hero
--------------------------------------------------
*/
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 80vh;
  height: auto;
  padding-top: 180px;
  margin: 0 auto;
}
@media screen and (max-width: 970px) {
  .hero-container {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 180px;
  }
}

.hero-info-container {
  width: 100%;
  min-height: 355px;
}
@media screen and (max-width: 970px) {
  .hero-info-container {
    order: 2;
    min-height: 315px;
  }
}

.hero-click-more-container {
  display: flex;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  margin-left: 5px;
}

.hero-img-container {
  border-radius: 50%;
  min-width: 380px;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  background-color: #da9de2;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1020px) {
  .hero-img-container {
    min-width: 280px;
  }
}
@media screen and (max-width: 970px) {
  .hero-img-container {
    order: 1;
    max-width: 350px;
  }
}

/* Slide From Top Animation */
.hero-info {
  max-width: 470px;
}
@media screen and (max-width: 970px) {
  .hero-info {
    max-width: 550px;
    margin: 0 auto;
  }
}

/* End of Hero 
*/
/* -----------------------------------------------
Start of About
--------------------------------------------------
*/
.about-inner-container {
  display: flex;
  gap: 50px;
}
.about-inner-container.work {
  margin-bottom: 40px;
}
@media screen and (max-width: 650px) {
  .about-inner-container.work {
    gap: 0px;
  }
}
@media screen and (max-width: 650px) {
  .about-inner-container {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }
  .about-inner-container.skills {
    gap: 0px;
  }
}

.about-inner-info {
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin-bottom: 100px;
  /* Skills, Education & Work */
}
@media screen and (max-width: 650px) {
  .about-inner-info {
    padding: 0px;
  }
}
.about-inner-info.skills, .about-inner-info.work {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 20px;
}

/* Skills */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 100px;
}
.skills-list-item {
  position: relative;
  flex: 1 1 auto;
  text-align: center;
  background-color: #da9de2;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 5px 10px;
  transform: scale(1);
  transition: transform 0.3s linear;
}
.skills-list-item:hover {
  transform: scale(1.06);
  transition: transform 0.2s linear;
}
.skills-list-item::before {
  content: "";
  display: block;
  position: absolute;
  height: 250%;
  top: -50%;
  transform: rotate(-45deg);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 25px #ffffff, 2px 2px 25px #ffffff;
  width: 8px;
  animation: glants 3.5s 0s linear infinite forwards;
}

/* Education & Work */
.timeline-item {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 40px;
}
@media screen and (max-width: 590px) {
  .timeline-item {
    gap: 15px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1010px) {
  .timeline-item-date {
    display: none;
  }
}
.timeline-item-date.mobile {
  display: none;
}
@media screen and (max-width: 1010px) {
  .timeline-item-date.mobile {
    display: inline;
  }
}
.timeline-item-dot {
  flex: 0 0 45px;
  position: relative;
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 7px;
  background-color: #da9de2;
}
@media screen and (max-width: 590px) {
  .timeline-item-dot {
    flex: 0 0 35px;
    width: 35px;
    height: 35px;
    padding: 5px;
  }
}
.timeline-item-dot svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}
.timeline-item-dot::before {
  content: "";
  position: absolute;
  top: 101%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: #ffffff;
  height: 118px;
}
@media screen and (max-width: 590px) {
  .timeline-item-dot::before {
    height: 92px;
  }
}
@media screen and (max-width: 415px) {
  .timeline-item-dot::before {
    height: 135px;
  }
}
.timeline-item-dot.long::before {
  height: 238px;
}
@media screen and (max-width: 590px) {
  .timeline-item-dot.long::before {
    height: 242px;
  }
}
@media screen and (max-width: 415px) {
  .timeline-item-dot.long::before {
    height: 302px;
  }
}
@media screen and (max-width: 335px) {
  .timeline-item-dot.long::before {
    height: 342px;
  }
}
.timeline-item-dot.last::before {
  height: 108px;
}
@media screen and (max-width: 590px) {
  .timeline-item-dot.last::before {
    height: 117px;
  }
}
.timeline-item-dot.last::after {
  content: "";
  position: absolute;
  top: 148px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #da9de2;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 590px) {
  .timeline-item-dot.last::after {
    width: 18px;
    height: 18px;
  }
}
.timeline-item-text {
  width: 100%;
  max-width: 520px;
  height: 120px;
  background-color: rgba(0, 245, 212, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
@media screen and (max-width: 590px) {
  .timeline-item-text {
    height: 105px;
    padding: 15px;
  }
}
@media screen and (max-width: 415px) {
  .timeline-item-text {
    height: 148px;
  }
}
.timeline-item-text.long {
  height: 240px;
  background-color: rgba(254, 228, 64, 0.4);
}
@media screen and (max-width: 590px) {
  .timeline-item-text.long {
    height: 255px;
  }
}
@media screen and (max-width: 415px) {
  .timeline-item-text.long {
    height: 315px;
  }
}
@media screen and (max-width: 335px) {
  .timeline-item-text.long {
    height: 355px;
  }
}
.timeline-item-text.university {
  background-color: rgba(0, 187, 249, 0.4);
}

/* End of About 
*/
/* -----------------------------------------------
Start of Projects
--------------------------------------------------
*/
.projects .container {
  margin: 0 auto;
}

.project-card {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}
.project-card:last-of-type {
  margin-bottom: 0px;
}
.project-card-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 650px) {
  .project-card {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .project-card {
    gap: 10px;
  }
}

.project-inner-container {
  max-height: 450px;
  display: flex;
  position: relative;
}

.project-pannel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 5;
  overflow: hidden;
  transition: width 0.7s ease-in-out;
}
.project-pannel:hover, .project-pannel.open {
  width: 85%;
  border-radius: 5px;
  padding: 20px 20px 20px 55px;
}
.project-pannel:hover .project-list, .project-pannel.open .project-list {
  opacity: 1;
  transition: opacity 0.1s 0.6s;
}
.project-pannel h3 {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  transform: rotate(-45deg);
  z-index: 5;
}
.project-pannel .project-pannel-accent {
  position: absolute;
  top: -123px;
  left: -123px;
  border-bottom: 92px solid #b98ded;
  border-top: 92px solid transparent;
  border-right: 92px solid transparent;
  border-left: 92px solid transparent;
  border-radius: 3px;
  filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.1));
  transform: rotate(-45deg);
}

.project-body {
  position: relative;
  max-height: 450px;
  max-width: 450px;
  margin-left: 70px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ffffff;
  border-left: transparent;
}
.project-body:hover > .project-video {
  transform: scale(1.02);
  transition: transform 0.5s ease-out;
}

.project-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 8, 83, 0.7);
  opacity: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 0.5s ease-out;
}
.project-video-bg:hover {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.project-video-bg h2 {
  text-shadow: 1px 2px 2px #2a0853;
}

.project-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 0.5s ease-out;
}

.project-card .btn-container {
  position: relative;
  margin-top: auto;
  padding-bottom: 65px;
  margin-bottom: 40px;
}
@media screen and (max-width: 650px) {
  .project-card .btn-container {
    display: flex;
    gap: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 65px;
  }
}
@media screen and (max-width: 500px) {
  .project-card .btn-container {
    padding-top: 55px;
  }
}

/* End of Projects 
*/
/* -----------------------------------------------
Start of Contact
--------------------------------------------------
*/
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.contact form .input-group {
  width: 100%;
  max-width: 450px;
}
.contact form .input-group > * {
  width: 100%;
  max-width: 450px;
}
.contact form label {
  color: #ffffff;
}
.contact form .input,
.contact form .input-text {
  background-color: #da9de2;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
}
.contact form .input {
  height: 45px;
}
.contact form .input-text {
  height: auto;
}

/* End of Contact 
*/
