// FONT FAMILY
// 200, 200 i, 300, 300 i, 400, 600
$ff-poppins: "Poppins", sans-serif;

// handwritten tags 400
$ff-la-belle-aurore: "La Belle Aurore", cursive;

// titles 300, 400, 500, 600
$ff-kodchasan: "Kodchasan", sans-serif;

// logo name 400
$ff-ephesis: "Ephesis", cursive;
// logo text 400
$ff-julius: "Julius Sans One", sans-serif;

// FONT SIZES
/*
hero title 


*/

// COLORS
// -- color palette
// https://coolors.co/palette/9b5de5-f15bb5-fee440-00bbf9-00f5d4
$purple: #9b5de5;
$purple-dark: #2a0853;
$purple-pale: #b98ded;
$pink: #f15bb5;
$pink-pale: #da9de2;
$yellow: #fee440;
$blue: #00bbf9;
$mint: #00f5d4;
$white: #ffffff;
$black: #000000;
$linear-bg: linear-gradient(to right, #f15bb5, #9b5de5 70%, #00bbf9);
$linear-bg-small: linear-gradient(to top, #9b5de5 80%, #00bbf9);

// ANIMATION
// logo loading on screen - total duration 2,633s
$ll-text-duration: 0.5s;
$ll-letter-duration: 0.15s;
$ll-letter-first-delay: 0.7s;
// --letter-order is added with inline css in the .logo-loading svg paths in html
$ll-letter-delay: calc(
	$ll-letter-duration * var(--letter-order) + $ll-letter-first-delay
);
$ll-fade-out-duration: 0.8s;
// 7 is coming from the last --letter-order number in the logo-loading in html
$ll-fade-out-delay: calc(
	($ll-letter-duration * 7 + $ll-letter-first-delay) * 1.5
);

// logo in navigation
$fade-in-duration: 0.7s;
// 0.3s is just additional delay
// $logo-delay: calc($ll-fade-out-delay + 0.3s);

// nav-item
$nav-item-duration: 0.4s;
// --nav-item-order is added with inline css in .nav-item in html
$nav-item-delay: calc($nav-item-duration * var(--nav-item-order));

// slide from top animation
$slide-from-top-duration: 0.4s;
// 3 is coming from the last --nav-item-order number in the .nav-item in html
// --hero-order is added with inline css in .hero-info, .hero-img-container, .social-icons-pannel in html
$nav-item-total-delay: calc($nav-item-duration * 3 + $fade-in-duration);
$slide-from-top-delay: calc(
	$slide-from-top-duration * var(--hero-order) + $nav-item-total-delay
);

// slide from bottom animation
$slide-from-top-total-delay: calc(
	$slide-from-top-duration * 2 + $nav-item-total-delay
);
$slide-from-bottom-duration: 0.4s;
$slide-from-bottom-delay: calc(
	$slide-from-top-total-delay + $slide-from-bottom-duration
);
